<nav>
  <div class="logo">
    <a href="/">
      <img src="/logo.png" alt="Cd. del Carmen" />
    </a>
  </div>
  <ul class="menu">
    <li class="menu-item">
      <a href="/hoteles">Hoteles</a>
    </li>
    <li class="menu-item">
      <a href="/#quienes-somos">Quienes somos</a>
    </li>
    <li class="menu-item">
      <a href="/#contacto">Contacto</a>
    </li>
    <li class="menu-item">
      <a href="/#beneficios">Beneficios</a>
    </li>
    <li class="menu-item">
      <a href="/#mesa-directiva">Mesa directiva</a>
    </li>
    <li>
      <a target="_blank" href="https://www.facebook.com/amhmciudaddelcarmen/">
        <svg
          class="social"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          fill="#2874e1"
          ><path
            d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"
          ></path></svg
        >
      </a>
    </li>
  </ul>
</nav>
<style>
  nav {
    max-width: 1024px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }

  .logo img {
    max-width: 200px;
  }

  .menu {
    list-style: none;
    display: flex;
    align-items: center;
  }

  .menu > li {
    margin: 0 12px;
  }

  .menu > li > a {
    font-size: 18px;
    color: #2e97bb;
    font-weight: 600;
  }

  @media only screen and (max-width: 900px) {
    nav {
      padding: 15px 30px;
    }

    .menu-item {
      display: none;
    }
  }
</style>
