---
import "@fontsource/lora";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  /* Register your custom font family and tell the browser where to find it. */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: "Lora", sans-serif;
    scroll-behavior: smooth;
  }

  body {
    margin: auto;
    margin-bottom: 50px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    padding-left: 20px;
  }

  li {
    margin-bottom: 10px;
  }

  .text-center {
    text-align: center;
  }

  .social {
    width: 40px;
  }
</style>
