---
import "@fontsource/lora";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href="https://hotelescarmen.com" />
    <meta name="robots" content="index, follow" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Asociación de hoteles y moteles de Ciudad del Carmen"
    />
    <meta
      property="og:description"
      content="Accede a los siguientes beneficios al formar parte de la Asociación Mexicana de Hoteles y Moteles de Carmen, A.C."
    />
    <meta property="og:image" content="https://hotelescarmen.com/hero.jpg" />
    <meta property="og:url" content="permalink" />
    <title>{title}</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-96DKWNCTSL"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-96DKWNCTSL");
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  /* Register your custom font family and tell the browser where to find it. */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: "Lora", sans-serif;
    scroll-behavior: smooth;
  }

  body {
    margin: auto;
    margin-bottom: 50px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    padding-left: 20px;
  }

  li {
    margin-bottom: 10px;
  }

  .text-center {
    text-align: center;
  }

  .social {
    width: 40px;
  }
</style>
